body {
	background:#fff;
  	width:100%;
  	height:100%;
	color:#1c1d22;
	font-family:"Helvetica","Arial",sans-serif;
  	margin:0;
  	padding:0;
  	cursor:default;
}

#ui .label {
	position:fixed;
	width:auto;
	height:auto;
	color:#fff;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: bottom left;   
    -moz-transform-origin: bottom left;   
    -o-transform-origin: bottom left;   
    -ms-transform-origin: bottom left;   
    transform-origin: bottom left;   
}
#ui .label#left {
}
#ui .label#right {
}

#legend {
	position:fixed;
	width:100%;
	height:18%;
	bottom:0;
	left:0;
}

#legend .title {
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	margin-left:3%;
}

canvas {
	background:transparent;
	position:absolute;
}
