body {
	background:#fff;
  	width:100%;
  	height:100%;
	color:#1c1d22;
  	margin:0;
  	padding:0;
  	cursor:default;
}

#ui #divider {
	display:none;
	position:fixed;
	background:#18181b;
	width:100%;
	height:8px;
	top:50%;
	left:20%;
	border-bottom:1px solid #fff;
}

#ui .label {
	position:fixed;
	width:auto;
	height:auto;
	color:#fff;
	font-family:"Helvetica","Arial",sans-serif;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: bottom left;   
    -moz-transform-origin: bottom left;   
    -o-transform-origin: bottom left;   
    -ms-transform-origin: bottom left;   
    transform-origin: bottom left;   
}
#ui .label#left {
}
#ui .label#right {
}

canvas {
	background:transparent;
	position:absolute;
}
